[submodule "dotfiles/dotbot"]
	path = dotfiles/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "bumblebee-status"]
	path = bumblebee-status
	url = https://github.com/tobi-wan-kenobi/bumblebee-status
